/*  COLLORS  */

/*
        #feffde
        #ddffbc
        #91c788
        #52734d

*/

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: #feffde;
    
}

h1{
    font-family: sans-serif;
    color: #feffde;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

p{
    color: #feffde;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    margin: 0 auto;
}

.header{
    height: 70vh;
    background-image: linear-gradient(to bottom,
    rgba(35, 36, 35, 0.438),
    rgba(78, 78, 78, 0)), url(../img/portfolio.jpeg);
    background-size: cover;
    background-position: bottom;
}

.nav-bar{
    height:    60px;
    background-color: #52734d;
    position: relative;
    
    
}
.logo-holder{
    position: absolute;
    left: 50px;
    display: inline-block;
    margin: 20px;
}

.logo-holder a{
    text-decoration: none;
    color: #feffde;
    font-family: sans-serif;
    
}
.nav-list-holder{
    list-style: none;
    position: absolute;
    right: 50px;
    display: inline-block;
}

.nav-list-holder li{
    display: inline-block;
    margin: 30px 20px 10px 20px;
    
}

.nav-list-holder li a{
    font-size: 11px;
    text-decoration: none;
    color: #feffde;
    font-family: sans-serif;
}


/* second-ul */
.second-ul li{
    display: block;
}


hr{
    width: 100%;
    background-color: transparent;
    
    border-top: 2px solid rgb(255, 166, 0);;
    border-bottom: none;
    margin-top: 0;
    padding-top: 0;
    
    

}
/* Header content */
.header-content{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
}

.btn-main{
    margin: 20px auto;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    background-color: #52734d;
    border-radius: 100px;
    display: inline-block;
    color: #feffde;
    
}

.btn-contact{
    margin: 20px auto;
    text-decoration: none;
    font-family: sans-serif;
    text-transform: uppercase;
    border: none;
    padding: 10px 40px;
    font-size: 16px;
    background-color:  rgb(255, 166, 0);
    border-radius: 100px;
    display: inline-block;
    color: #feffde;
}